<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Content-Language" content="pl" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="assets/style.css" type="text/css" />
  <title>{{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <style>


</style>
</head>

<body style="overflow:hidden;position:fixed;width:100vw">
    <div class="w3-row w3-bar w3-bottombar" style="position:sticky;top:0;">
        <a id="newFileMenu" class=" toggleDDjs w3-bar-item w3-button line-height w3-left w3-dropdown-click">+</a>
            
        <a id="Refresh" class="w3-bar-item w3-button line-height w3-left">&#8635;</a>
        <a id="home" class="w3-bar-item w3-button line-height w3-left">Home</a>

        <a id="signOut" class="w3-bar-item w3-button line-height w3-right" href="#signOut">Sign out</a>
        <a id="modal" class="w3-bar-item w3-button line-height w3-right w3-disabled" href="#modal">Auth Token</a>
        <div id="buffer" class='w3-bar-item line-height w3-right'><img src="assets/ajax-loader.gif"></img></div>
        
    </div>
    <div id="newFileDrop"class="w3-dropdown-content w3-bar-block w3-border-right w3-border-bottom">
        <a id="NewFile"href="#" class="toggleDDjs w3-bar-item w3-button">New file</a>
        <div class="LocalFile w3-bar-item w3-button toggleDDjs">
            <input type="file" id="UploadFile">
            <a class=" ">Upload</a>
        </div>
    </div>
    <div class="w3-row" style="height:100vh;display:flex;">
        <div class="w3-col w3-border-right " style="width:75%;overflow-y:auto;">
            <div class=" w3-border-bottom">
                <ol class="w3-ul"><li><img id="dirHome" src="assets/home.svg"class="svg"></img>
                <span id="DIRECTORY"class=""></span></li></ol>
            </div> 
            <div class="w3-container">
                <div id="POST" class="w3-row w3-bar w3-padding-8" style="display: none;">Name
                    <input type="text" id="name" value="nazwa.md">
                    <button id="requestText">Upload</button>
                    <button id="requestLocal"style="display: none;">Upload Local</button>
                    <span class='del w3-padding' id='POSTx'>&times;</span>
                </div>
                <textarea id="POSTtext" rows="20" cols="60"style="display: none;"></textarea>
            </div>

            <ol class='w3-ul ' style='width:65%' id="listF">
            </ol>
            <div><img src="assets/dir.svg"class="svg"><img src='assets/file.svg'class='svg'><img src="assets/home.svg"class="svg"><img src='assets/back.svg'class='svg'></div>
            <div id="noApiMessage" class="configMessage" style="display: none;">
                <div class="backdrop"></div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Successfully Authenticated!</h3>
                    </div>
                    <div class="panel-body">
                        <p>This page is not functional yet because there is no API invoke URL configured in <a href="/js/config.js">/js/config.js</a>. You'll configure this in Module 3.</p>
                        <p>In the meantime, if you'd like to test the Amazon Cognito user pool authorizer for your API, use the auth token below:</p>
                        <textarea class="authToken"></textarea>
                    </div>
                </div>
            </div>

            <div id="noCognitoMessage" class="configMessage" style="display: none;">
                <div class="backdrop"></div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">No Cognito User Pool Configured</h3>
                    </div>
                    <div class="panel-body">
                        <p>There is no user pool configured in <a href="/js/config.js">/js/config.js</a>. You'll configure this in Module 2 of the workshop.</p>
                    </div>
                </div>
            </div>


        </div>
        <div class="w3-col w3-border-left w3-container" style="width:25%;overflow-y:auto;">
            <p>Responses:</p>
            <ul id="updates"class="">
            </ul>
        </div>
    </div>
    <div id="authTokenModal" class="w3-modal" tabindex="-1" role="dialog" aria-labelledby="authToken">
        <div class="w3-modal-content w3-container" role="document">
			<p>Authentification Token:</p>
			<textarea class="authToken" rows="5" cols="60"></textarea>
			<span class='w3-button w3-display-topright' id='x'>&times;</span>
        </div>
    </div>
</body>
    <script src="js/vendor/jquery-3.1.0.js"></script>
    <!--<script src="js/vendor/bootstrap.min.js"></script>-->
    <script src="js/vendor/aws-cognito-sdk.min.js"></script>
    <script src="js/vendor/amazon-cognito-identity.min.js"></script>
    <script src="js/config.js"></script>
    <script src="js/cognito-auth.js"></script>
    <script src="js/test.js"></script>
</html>