<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Content-Language" content="pl" />
  <link rel="stylesheet" href="assets/style.css" type="text/css" />
  <title>{{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <style>


</style>
</head>

<body style="overflow:hidden;position:fixed;width:100vw">
<div class="w3-border-bottom w3-row w3-bar" style="position:sticky;top:0;">
	<span id="NewFile" class="w3-button w3-left">&#10010;</span>
	<span id="Refresh" class="w3-button w3-left">&#8635;</span>
	<a id="signOut" class="w3-button w3-left" href="#signOut">Sign out</a>
	<a id="modal" class="w3-button w3-right w3-disabled" href="#modal">Auth Token</a>
</div>
<div class="w3-row" style="height:96vh;display:flex;">
<div class="w3-col w3-border-right" style="width:80%;overflow-y:auto;"> 
    <div class="info panel panel-default" id="POST" style="display: none;">
        <div class="panel-heading">Name
		<input type="text" id="name" value="nazwa.md">
            <button id="request" class="btn btn-primary">Upload</button>
			<span class='w3-button' id='POSTx'>&times;</span>
        </div>
		<textarea id="POSTtext" rows="20" cols="60"></textarea>
	</div>

	<ol class='w3-ul' style='width:50%' id="listF">
		</ol>
    <div id="noApiMessage" class="configMessage" style="display: none;">
        <div class="backdrop"></div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Successfully Authenticated!</h3>
            </div>
            <div class="panel-body">
                <p>This page is not functional yet because there is no API invoke URL configured in <a href="/js/config.js">/js/config.js</a>. You'll configure this in Module 3.</p>
                <p>In the meantime, if you'd like to test the Amazon Cognito user pool authorizer for your API, use the auth token below:</p>
                <textarea class="authToken"></textarea>
            </div>
        </div>
    </div>

    <div id="noCognitoMessage" class="configMessage" style="display: none;">
        <div class="backdrop"></div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">No Cognito User Pool Configured</h3>
            </div>
            <div class="panel-body">
                <p>There is no user pool configured in <a href="/js/config.js">/js/config.js</a>. You'll configure this in Module 2 of the workshop.</p>
            </div>
        </div>
    </div>


</div>
<div class="w3-col w3-border-left" style="width:20%;overflow-y:auto;">
	<ul id="updates">
    </ul>
</div>
</div>
    <div id="authTokenModal" class="w3-modal" tabindex="-1" role="dialog" aria-labelledby="authToken">
        <div class="w3-modal-content w3-container" role="document">
			<p>Authentification Token:</p>
			<textarea class="authToken w3-content" rows="8" cols="60"></textarea>
			<span class='w3-button w3-display-topright' id='x'>&times;</span>
        </div>
    </div>
</body>
    <script src="js/vendor/jquery-3.1.0.js"></script>
    <!--<script src="js/vendor/bootstrap.min.js"></script>-->
    <script src="js/vendor/aws-cognito-sdk.min.js"></script>
    <script src="js/vendor/amazon-cognito-identity.min.js"></script>
    <script src="js/config.js"></script>
    <script src="js/cognito-auth.js"></script>
	<script src="js/test.js"></script>
</html>